*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.header {
  position: absolute;
  z-index: 1;
  margin: 3.5vh 0vw 0vh 2vw;
  text-align: left;
  font-family: 'Audimat3000-Regulier';
  font-size: 2.5em;
  color: #515151;
}

.nav ul {
  position: absolute;
  z-index: 0;
  display: inline;
  width: 99vw;
  height: 8vh;
  list-style-type: none;
  background-color: #FF9D26;
}

li {
  float:right;
  padding: 1em;
  font-family: 'Audimat3000-Regulier';
  font-size: 1.5em;
  color: #515151;
}
