html {
  width: 100%;
  background: $white;
}

//Top half landing page

#top-half {
  @include span-columns(12);
      .ri img{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 98vw;
        height: auto;
        z-index: 0;
  }
}

//Bottom half landing page

#mid-quarter {
    @include span-columns(12);
    position: relative;
    margin: 85vh 0vh -6vh 0vh;
    background-color: $white;
    height: 50vh;
    width: 100%;
    z-index: 0;
  }

  #info {
      @include span-columns(12);
      position: absolute;
      z-index: 1;
      height: 8vh;
      width: 100%;
      text-align: center;
      font-size: 1.5em;
      font-family: $stack-audimat;
      color: $dark-grey;
    }

  #mid-right {
      @include span-columns(6);
      position: absolute;
          h4{
            font-family: $stack-audimat;
            color: $dark-grey;
            font-size: 1.5em;
            text-align: center;
            margin: 30vh auto;
            padding: 0 5em;
          }
  }

  #mid-left {
      @include span-columns(6);
      position: absolute;
         img  {
            position: absolute;
            margin: 15vh 0 0 50vw;
         }
  }


#bottom-quarter {
      @include span-columns(12);
      position: relative;
      margin: 35vh 0vh -6vh 0vh;
      background-color: $white;
      height: 50vh;
      width: 100%;
      z-index: 0;
  }

  #bottom-right {
      @include span-columns(6);
      position: absolute;
        img  {
         position: absolute;
         margin-left: 3vw;
    }
  }

  #bottom-left {
      @include span-columns(6);
      position: absolute;
      margin: 5vw 0 0 45vw;
      padding: 5vw;
        h4{
          font-family: $stack-audimat;
          color: $dark-grey;
          font-size: 1.5em;
          text-align: center;
        }
      }
