
a .button1 {
 position: absolute;
 z-index: 1;
 display: block;
 height: 2.5em;
 width: 7em;
 background: $teal;
 border-radius: 10px;
 font-family: $stack-audimat;
 color: $dark-grey;
 font-size: 22px;
 text-align: center;
 background: -webkit-linear-gradient($color-button-gradient);
 background: -moz-linear-gradient($color-button-gradient);
 background: -o-linear-gradient($color-button-gradient);
 background: -ms-linear-gradient($color-button-gradient);
 background: linear-gradient($color-button-gradient);
 margin-top: 70vh;
 margin-left: 45vw;
 padding: .65em;
}

a .button1:hover {
  color: $grey;
  border: thin solid $grey;
}
